<header>
  <div id=menu>
    <h1>Analizador CSV</h1>
    <nav>
      <ul>
        <li><a href="http://alu0100699968.github.io/" target="_blank"><i class="fa fa-user"></i> Sergio Rodríguez</a></li>
        <li><a href="http://alu0100696455.github.io/" target="_blank"><i class="fa fa-user"></i> Jonathan Expósito</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="separador"></div>
<div class=pagina>
  <p>Escriba una cadena de texto en formato Comma Separated Values y pulse el botón para generar una tabla con dichos datos.</p>
  <div class="separador"></div>
  <textarea autofocus cols="80" rows="5" id="original"></textarea>
  <br>
  <button type="button">Generar Tabla</button>
  <br>
  <div class="separador"></div>
  <span class="output" id="finaltable"></span>
</div>

<footer>
  <p>Enlaces de interés:</p>
  <ul id=listamenu>
    <li><a href="tests/" target="_blank">Tests del proyecto</a></li>
    <li><a href="https://github.com/alu0100696455/localstorage-jquery-underscore-express-sass-heroku-sergio-jonathan/" target="_blank">Repositorio de la práctica</a></li>
    <li><a href="https://github.com/alu0100699968" target="_blank">GitHub Sergio Rodríguez</a></li>
    <li><a href="https://github.com/alu0100696455" target="_blank">GitHub Jonathan Expósito</a></li>
  </ul>
</footer>
